*{
    padding: 0px ;
    margin: 0px;
    font-family:sans-serif ;
}

body{
   background-image: url("images/img4.webp");
   background-color: black;
    background-size: cover;
    text-align: center;
}

.contact-form{
    margin-top: 100px;
    /* color: #ff5622b0; */
    color: rgba(0, 0, 0, 0.758);
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-form h1{
    font-size: 32px;
}


form{
    margin-top: 50px;
    transition: all 4s ease-in-out ;
}

.form-control{
    width: 400px;
    background: rgba(255, 228, 196, 0.685);
    /* background: transparent; */
    border: none;
    outline: none;
    /* border-bottom: 1px solid gray;
    color: #fff; */
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 18px;
}


input{
    height: 45px;
    color: #fff;
}

form .submit{
    background: #ff5722;
    border: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px black;
}

form .submit:hover{
    background: #3685f4bb; 
    cursor: pointer;
}

